//colors 
$White: #ffffff;
$Black: #000000;
$Dark-Gray: #8c8c8c;
$Very-Dark-Gray: #696969;


//Typography
$font-1: 'Alata', sans-serif;
$font-2: 'Josefin Sans', sans-serif;

//container
$padding-container: 30px 20px;

//Responsive variables
$First-Breakpoint: 'only screen and (min-width:1000px)'